@model IEnumerable<Codecamp2018.Models.Session>
@{
    Layout = null;//this page is one-off with every session on it, making it easier to view and print
    ViewData["Title"] = "Agenda";

    var width = (int)(100 / (ViewBag.TrackCount==0?1:ViewBag.TrackCount));
}
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<style>
    table, th, td {
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #000;
        color: white;
    }

    td:hover {
        background-color: yellow;
        cursor: pointer;
    }

    .ui-dialog {
        position: fixed;
    }
    .showImage {
        visibility: visible;
    }
    .hideImage {
        visibility: hidden;
    }
</style>
<p><a href="/">Back to main website</a></p>
<p>Click on a session to view details (if available)</p>
<p><strong><em>Note:&nbsp;</em></strong>If you're logged in, you can click on a session and add it to your Agenda from the details window</p>
<table id="tblAgenda" style="padding:1px;text-align:center">
    <tr>
        <th>&nbsp;</th>
        @foreach (var track in ViewBag.Tracks)
        {
            <th style="@(string.Format("width:{0}%",width))">
                <div><strong>@(track.Name)</strong></div>
                @if (!string.IsNullOrEmpty(track.RoomNumber))
                {
                    <div><em>@track.RoomNumber</em></div>
                }
            </th>
        }
    </tr>
    @foreach (var timing in ViewBag.Timeslots)
    {
        var classString = "";
        if (timing.Special ?? false)
        {
            classString = "class=\"specialTimeslot\"";
        }
        <tr>
            <td @(classString)>@string.Format("{0} - {1}", timing.StartTime.ToString("h:mm tt"), timing.EndTime.ToString("h:mm tt"))</td>
            @foreach (var trackTime in ViewBag.Tracks)
            {
                var session = Model.Where(s => s.TrackID == trackTime.ID && s.TimeslotID == timing.ID).FirstOrDefault();
                if (session == null)
                {
                    <td>&nbsp;</td>
                }
                else
                {
                    <td id="@string.Format("td{0}",session.SessionID)" class="tdSession">
                        @(session.Name)
                    @if (!(timing.Special ?? false))
                    {
                        <br /><em><strong>@session.Speaker.FullName @(string.Format("{0}", session.CoSpeakers ?? string.Empty))</strong></em>
                        <br />
                        if (!string.IsNullOrEmpty(trackTime.RoomNumber))
                        {
                            <text>@string.Format(" ({0})", trackTime.RoomNumber)</text>
                        }
                        <div id="@string.Format("div{0}",session.SessionID)" class="divDescription" title="@session.Name">
                            @if ((User.Identity.IsAuthenticated))
                            {
                                if ((ViewBag.MySessions != null) && (ViewBag.MySessions.Contains(session.SessionID)))
                                {
                                    <p><a href="#" class="delSession" id="@(string.Format("d{0}",session.SessionID))" title="[-] Remove from My Agenda">[-] Remove from My Agenda</a></p>
                                }
                                else
                                {
                                    <p><a href="#" class="addSession" id="@(string.Format("a{0}",session.SessionID))" title="[+] Add to My Agenda">[+] Add to My Agenda</a></p>
                                }
                            }
                            else
                            {
                                <text>&nbsp;</text>
                            }


                            <h3>@session.Name</h3>
                            <p>Speaker: @session.Speaker.FullName @(string.Format("{0}", session.CoSpeakers??string.Empty))</p>
                            <p>Time: @string.Format("{0} - {1}", session.Timeslot.StartTime.ToString("h:mm tt"), session.Timeslot.EndTime.ToString("h:mm tt"))</p>
                            @if (!string.IsNullOrEmpty(session.Track.RoomNumber))
                            {
                                <p>Room: @session.Track.RoomNumber</p>
                            }
                            <p>Track: @session.Track.Name</p>
                            <p>@session.Description</p>
                        </div>
                    }
                        @if ((User.Identity.IsAuthenticated))
                        {
                            if ((ViewBag.MySessions != null) && (ViewBag.MySessions.Contains(session.SessionID)))
                            {
                                <img style="height:16px" id="@(string.Format("imgFav{0}",session.SessionID))" src="/images/star_full.png" class="showImage" />
                            }
                            else
                            {
                                <img style="height:16px" id="@(string.Format("imgFav{0}",session.SessionID))" src="/images/star_full.png" class="hideImage" />
                            }
                        }
                        else
                        {
                            <text>&nbsp;</text>
                        }


                </td>
                }
            }
        </tr>


    }
</table>
<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $(".divDescription").dialog({
            autoOpen: false,
            modal: true,
            width: 320,
            height: 520,
            position: 'center'
        });
        $(".delSession").click(function () {
            var id = this.id.replace("d", "");
            $("#div" + id).dialog("close");
            $.get('@(Url.Content("/Sessions/RemoveSessionFromAgenda"))' + '/' + id, function (data) {
                if (data) {
                    location.reload();
                }
            });
        });
        $(".addSession").click(function () {
            var id = this.id.replace("a", "");
            $("#div" + id).dialog("close");
            $.get('@(Url.Content("/Sessions/AddSessionToAgenda"))' + '/' + id, function (data) {
                if (data) {
                    location.reload();
                }
            });
        });
        $(".tdSession").click(function () {
            var divId = this.id.replace("td", "");
            $("#div" + divId).dialog("open");
        });
        $("#printLink").click(function () {
            var newWin = window.open("");
            newWin.document.write($("#tblAgenda")[0].outerHTML);
            newWin.print();
            newWin.close();

        });
    });
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d739451a8b33cb"></script>

