@model Codecamp2018.ViewModels.Session.SessionViewModel
@{
    ViewData["Title"] = Model.Title;
}
<h2><strong>Title:&nbsp;</strong>@ViewData["Title"]</h2>
<p><img style="max-width:50px" src="@(string.IsNullOrEmpty(Model.Speaker.AvatarURL)?"/images/default_user_icon.jpg":Model.Speaker.AvatarURL)" alt="@Model.Speaker.FullName" /></p>
<h5>
    <a href="@Url.Content(string.Format("~/speakers/details/{0}",Model.Speaker.ID))">@Model.Speaker.FullName</a>
</h5>
@if (!string.IsNullOrEmpty(Model.CoSpeakers))
{
    <h5>@Model.CoSpeakers</h5>
}
<p>Target Audience:&nbsp;<em>@(Model.Level == 3 ? "Deep Dive" : (Model.Level == 2 ? "Some prior knowledge needed" : "All skill levels"))</em></p>

@if (!string.IsNullOrEmpty(Model.StartTime) && !string.IsNullOrEmpty(Model.EndTime))
{
    <p><strong>Time:&nbsp;</strong>@string.Format("{0} - {1}", Model.StartTime, Model.EndTime)</p>
}
@if (!string.IsNullOrEmpty(Model.TrackName))
{
    <p><strong>Track:&nbsp;</strong>@Model.TrackName</p>
}
@if (!string.IsNullOrEmpty(Model.RoomNumber))
{
    <p><strong>Room:&nbsp;</strong>@Model.RoomNumber</p>
}
<p>@Model.Description</p>

<a asp-controller="Sessions" asp-action="ReturnToCaller" asp-route-referringUrl=@Model.ReferringUrl>Back</a><br />

@*<a asp-controller="Speakers" asp-action="Sessions">Back to List</a>*@
