@model codecampster.Models.Session
@{
    ViewData["Title"] = Model.Name;
}
<h2><strong>Title:&nbsp;</strong>@ViewData["Title"]</h2>
<p><img style="max-width:100px" src="@Model.Speaker.AvatarURL" /></p>
<h5>
    <a href="@Url.Content(string.Format("~/speakers/details/{0}",Model.Speaker.ID))">@Model.Speaker.FullName</a>
</h5>
@if (ViewBag.CoSpeaker != null)
{
    <p><img style="max-width:100px" src="@(string.IsNullOrEmpty(ViewBag.CoSpeaker.AvatarURL)?"/images/default_user_icon.jpg": ViewBag.CoSpeaker.AvatarURL)" /></p>
<h5>
    <a href="@Url.Content(string.Format("~/speakers/details/{0}", Model.CoSpeakerID))">@Model.CoSpeakers</a>
</h5>
}
<p>Target Audience:&nbsp;<em>@(Model.Level == 3 ? "Deep Dive" : (Model.Level == 2 ? "Some prior knowledge needed" : "All skill levels"))</em></p>
@if (Model.Timeslot != null)
{
    <p><strong>Time:&nbsp;</strong>@string.Format("{0} - {1}", Model.Timeslot.StartTime, Model.Timeslot.EndTime)</p>
}
@if (Model.Track != null)
{
    <p><strong>Track:&nbsp;</strong>@Model.Track.Name</p>
    <p><strong>Room:&nbsp;</strong>@Model.Track.RoomNumber</p>
}
<p>@Model.Description</p>
@*<a asp-controller="Speakers" asp-action="Sessions">Back to List</a>*@
