@model Speaker
@{
    ViewData["Title"] = Model.FullName;
}
<h2>@ViewData["Title"]</h2>
@if (!string.IsNullOrEmpty(Model.AvatarURL))
{
            @*Use @Model.AvatarUrl instead of default path for icon*@
    <p><img style="width:150px" src="~/images/default_user_icon.jpg" /></p>
}
@if (!string.IsNullOrEmpty(Model.Title))
{
    <p>@Model.Title</p>
}
@if (!string.IsNullOrEmpty(Model.Company))
{
    <p>@Model.Company</p>
}
@if (!string.IsNullOrEmpty(Model.Twitter))
{
    <p><strong>Twitter:&nbsp;</strong><a target="_blank" href="https://twitter.com/@(Model.Twitter)">@(Model.Twitter)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Website))
{
    <p><strong>Website:&nbsp;</strong><a target="_blank" href="@(Model.Website)">@(Model.Website)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Blog))
{
    <p><strong>Blog:&nbsp;</strong><a target="_blank" href="@(Model.Blog)">@(Model.Blog)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Bio))
{
    <p>@Model.Bio</p>
}

        <!--public string Company {get;set;}
        public string Title {get;set;}
        public string Bio {get;set;}
        public string Twitter {get;set;}
        public string Website {get;set;}
        public string Blog {get;set;}
        public string AvatarURL {get;set;}-->