@model IQueryable<Speaker>
@{
    ViewData["Title"] = "Speakers";
}
<h2>@ViewData["Title"]</h2>
<div>
@foreach (var speaker in Model)
{
    <div style="float:left;width:150px">
    <div>
        <a href="@Url.Content(string.Format("~/speakers/details/{0}",@speaker.ID))">
        @*Use @Model.AvatarUrl instead of default path for icon*@
            <img style="width:145px;align:center" src="~/images/default_user_icon.jpg" alt="@speaker.FullName" />
        </a>
    </div>
    <div>
        <h5 style="text-align:center">
            <a href="@Url.Content(string.Format("~/speakers/details/{0}",@speaker.ID))">@speaker.FullName</a>
        </h5>
    </div>
    </div>
}
</div>
<div style="clear:both"></div>