@model Sponsor
@{
    ViewData["Title"] = string.Format("{0} ({1})",Model.CompanyName,Model.SponsorLevel);
}
<h2>@ViewData["Title"]</h2>
@if (!string.IsNullOrEmpty(Model.AvatarURL))
{
    <p><img style="width:250px" src="@Model.AvatarURL" /></p>
}
@if (!string.IsNullOrEmpty(Model.Twitter))
{
    <p><strong>Twitter:&nbsp;</strong><a target="_blank" href="https://twitter.com/@(Model.Twitter)">@(Model.Twitter)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Website))
{
    <p><strong>Website:&nbsp;</strong><a target="_blank" href="@(Model.Website)">@(Model.Website)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Bio))
{
    <p>@Model.Bio</p>
}