@model IQueryable<Sponsor>
@{
    ViewData["Title"] = "Sponsors";
}
<h2>@ViewData["Title"]</h2>
<div>
@foreach (var sponsor in Model)
{
    <div>
    <div>
        <a href="@Url.Content(string.Format("~/sponsors/details/{0}",@sponsor.ID))">
            <img src="@(sponsor.AvatarURL)" alt="@sponsor.CompanyName" />
        </a>
    </div>
    <div>
        <h3>
            <a href="@Url.Content(string.Format("~/sponsors/details/{0}",@sponsor.ID))">@sponsor.CompanyName (<em>@sponsor.SponsorLevel</em>)</a>
        </h3>

    </div>
    <hr/>
    </div>
}
</div>
<div style="clear:both"></div>