@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}


<!--<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/CodeCampHeaderLogo.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    What is Orlando Codecamp?
                    <a class="btn btn-default btn-default" asp-controller="Home" asp-action="FAQ">Learn More</a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>-->

<div class="row">
    <div class="col-md-3">
        <h2>Attendees</h2>
        <ul>
            @if (User.IsSignedIn())
            {
                <li>RSVP (appears on sign in, toggle)</li>
                <li>Volunteer (appears when signed in and RSVPed)</li>
            }
            else
            {
                <li>Sign up to attend or Sign In (disappears when signed in)</li>
            }
            <li>View agenda (visible whether logged in or not)</li>
            <li><a asp-controller="Speakers" asp-action="Index">@ViewBag.Speakers Speakers</a></li>
            <li><a asp-controller="Speakers" asp-action="Index">72 Sessions</a></li>
            <li><a asp-controller="Speakers" asp-action="Index">9 Tracks</a></li>
            <li>600 Attendees</li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul>
        </ul>
        <h2>Announcements</h2>
        <ul>
            @foreach (var announcement in ViewBag.Announcements)
            {
            <li>@Html.Raw(announcement.Message)</li>
            }
        </ul>
    </div>
    <div class="col-md-3">
        <div><strong>@ViewBag.Sponsor.SponsorLevel</strong></div>
        <div><a href="@ViewBag.Sponsor.Website" target="_blank"><img style="width:250px" src="@ViewBag.Sponsor.AvatarURL" alt="@ViewBag.Sponsor.CompanyName" /></a></div>
<a class="twitter-timeline" href="https://twitter.com/hashtag/orlandocc" data-widget-id="691122639218286592">#orlandocc Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    </div>
</div>
