@model IQueryable<Sponsor>
@{
    ViewData["Title"] = "Sponsors";
}
<h2>@(ViewData["Title"]).</h2>
<div>
<div>Interested in sponsoring Codecamp? Check out the <a href="@Url.Content("~/documents/ContributorInformation.pdf")">sponsor package</a></div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("administrator"))
    {
<div>
	<p>
		<a asp-action="Create" asp-route-id="">Add Sponsor</a>
	</p>
</div>
    }
@foreach (var sponsor in Model)
{
    <div>
    <div>
        <a href="@Url.Content(string.Format("~/sponsors/details/{0}",@sponsor.ID))">
            <img style="max-width:250px" src="@(sponsor.AvatarURL)" alt="@sponsor.CompanyName" />
        </a>
    </div>
    <div>
        <h3>
            <a href="@Url.Content(string.Format("~/sponsors/details/{0}",@sponsor.ID))">@sponsor.CompanyName (<em>@sponsor.SponsorLevel</em>)</a>
        </h3>
    </div>
@if (User.Identity.IsAuthenticated && User.IsInRole("administrator"))
{
	<div>
		<a href="@Url.Content(string.Format("~/sponsors/Delete/{0}", @sponsor.ID))">Delete</a>
	</div>
}
    <hr/>
    </div>
}
</div>
<div style="clear:both"></div>