@model codecampster.Models.Session
@{
    ViewData["Title"] = Model.Name;
}
<h2>@ViewData["Title"]</h2>
<p><img style="max-width:250px" src="@Model.Speaker.AvatarURL" /></p>
<h5>
    <a href="@Url.Content(string.Format("~/speakers/details/{0}",Model.Speaker.ID))">@Model.Speaker.FullName</a>
</h5>
<p><em>@(Model.Level == 300 ? "Deep Dive" : (Model.Level == 200 ? "Prior knowledge needed" : "For all levels"))</em></p>
<p>@Model.Description</p>
