@model IEnumerable<Codecamp2018.Models.Announcement>
<h2>@ViewData["Title"]</h2>
<style>
    .sessionLinks:hover {
        background-color: #337ab7;
        color: #eee;
        text-decoration: none;
        padding: 4px;
    }

    .sessionLinks {
        color: #337ab7;
        white-space: nowrap;
        padding: 4px;
    }
</style>
<a asp-controller="Announcement" asp-action="Create">Add</a>
<table class="table">
    <tr>
        <th>Publish On</th>
        <th>Expires On</th>
        <th>Rank</th>
        <th>Message</th>
        <th>&nbsp;</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@(String.Format("{0:MM/dd/yyyy}", item.PublishOn))</td>
        <td>@(String.Format("{0:MM/dd/yyyy}", item.ExpiresOn))</td>
        <td>@(item.Rank)</td>
        <td>@Html.Raw(item.Message)</td>
        <td>
            @*<a asp-controller="Announcement" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-controller="Announcement" asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
            <a asp-controller="Announcement" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>