@model Speaker
@{
    ViewData["Title"] = Model.FullName;
}
<h2>@ViewData["Title"]</h2>
@if (!string.IsNullOrEmpty(Model.AvatarURL))
{

    <p><img style="max-width:250px" src="@Model.AvatarURL" /></p>
}
@if (!string.IsNullOrEmpty(Model.Title))
{
    <p>@Model.Title</p>
}
@if (!string.IsNullOrEmpty(Model.Company))
{
    <p>@Model.Company</p>
}
@if (!string.IsNullOrEmpty(Model.Twitter))
{
    <p><strong>Twitter:&nbsp;</strong><a target="_blank" href="https://twitter.com/@(Model.Twitter)">@(Model.Twitter)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Website))
{
    <p><strong>Website:&nbsp;</strong><a target="_blank" href="@(Model.Website)">@(Model.Website)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Blog))
{
    <p><strong>Blog:&nbsp;</strong><a target="_blank" href="@(Model.Blog)">@(Model.Blog)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Bio))
{
    <p>@Model.Bio</p>
}
@if ((Model.Sessions != null) && (Model.Sessions.Count > 0))
{
    foreach(var s in Model.Sessions)
    {
        <p>@Html.ActionLink(s.Name, "Details", "Sessions", new { id = s.SessionID })</p>

    }
}