@model Speaker
@{
    ViewData["Title"] = Model.FullName;
}
<h2>@ViewData["Title"]</h2>
@if (!string.IsNullOrEmpty(Model.Title))
{
    <p>@Model.Title</p>
}
@if (!string.IsNullOrEmpty(Model.Company))
{
    <p>@Model.Company</p>
}

    <p>
        <img style="max-width:50px" src="@(string.IsNullOrEmpty(Model.AvatarURL)?"/images/default_user_icon.jpg":Model.AvatarURL)" alt="@Model.FullName" />
    </p>
@if (!string.IsNullOrEmpty(Model.Twitter))
{
    <p><strong>Twitter:&nbsp;</strong><a target="_blank" href="https://twitter.com/@(Model.Twitter)">@(Model.Twitter)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Website))
{
    <p><strong>Website:&nbsp;</strong><a target="_blank" href="@(Model.Website)">@(Model.Website)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Blog))
{
    <p><strong>Blog:&nbsp;</strong><a target="_blank" href="@(Model.Blog)">@(Model.Blog)</a></p>
}
@if (!string.IsNullOrEmpty(Model.Bio))
{
    <p><strong>Bio:&nbsp;</strong>@Model.Bio</p>
}
@if (!string.IsNullOrEmpty(Model.MVPDetails))
{
    <p><strong>Community Awards:&nbsp;</strong>@Model.MVPDetails</p>
}
@if (!string.IsNullOrEmpty(Model.AuthorDetails))
{
    <p><strong>Author:&nbsp;</strong>@Model.Bio</p>
}
@if ((Model.Sessions != null) && (Model.Sessions.Count > 0))
{
    <ol>
        @if (ViewBag.IsSpeakerSubmissionOpen)
        {
            <p><strong>Submitted Sessions</strong></p>
            @foreach (var s in Model.Sessions)
            {
                <li>@Html.ActionLink(s.Name, "Details", "Sessions", new { id = s.SessionID })</li>
            }
        }
        else
        {
            <p><strong>Approved Sessions</strong></p>
            @foreach (var s in Model.Sessions.Where(s => s.IsApproved))
            {
                <li>@Html.ActionLink(s.Name, "Details", "Sessions", new { id = s.SessionID })</li>
            }
        }
    </ol>
}
else
{
    <p><strong>@(Model.FullName) has not submitted any sessions .... yet</strong></p>
}
<p>
    <a asp-controller="Speakers" asp-action="Index">Back to Speakers List</a>
</p>
