

@using System.Security.Principal
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <p>&nbsp;</p>
        <h4>@ViewBag.Event.Name</h4>
        @if (ViewBag.Event.SpeakerRegistrationOpen ?? false)
        {
        <p>Currently we're signing up speakers and accepting session proposals.</p>
        <h5><a asp-controller="Speakers" asp-action="Index">@(ViewBag.Speakers) Speakers signed up</a></h5>
        <h5>@(ViewBag.Sessions) Sessions submitted</h5>
        }
        <h4>Action Items</h4>
        <ol>
            @if (User.Identity.IsAuthenticated)
            {
                if ((ViewBag.SpeakerProfile != null))
                {
                    <li><a asp-controller="Speakers" asp-action="Edit"><button class="btn btn-large">Edit Speaker Profile</button></a><br /><br /></li>
                    <li><a asp-controller="Speakers" asp-action="Sessions"><button class="btn btn-large">Manage Sessions</button></a><br /><br /></li>

                }
                else
                {
                    if (!(ViewBag.RSVP ?? false))
                    {
                    <li><a asp-controller="Event" asp-action="RSVP">RSVP to attend</a></li>
                    }
                    else
                    {
                    <li>Thank you for RSVPing</li>
                    }
                    @if (!(ViewBag.Volunteer ?? false))
                    {

                        <li><a asp-controller="Event" asp-action="Volunteer">Volunteer to help</a></li>
                    }
                    else
                    {
                        <li>Thank you for volunteering</li>
                    }
                }

                if (ViewBag.Event.AttendeeRegistrationOpen ?? false)
                {
                    <li>View agenda</li>
                    <ul>
                        <li><a asp-controller="Speakers" asp-action="Index">@ViewBag.Speakers Speakers</a></li>
                        <li><a asp-controller="Sessions" asp-action="Index">@ViewBag.Sessions Sessions</a></li>
                        @*<li><a asp-controller="Sessions" asp-action="Agenda">Tracks &amp; Timeslots</a></li>*@
                        <li>@ViewBag.Attendees Attendees</li>
                    </ul>
                }
            }
            else
            {
                if (ViewBag.Event.SpeakerRegistrationOpen ?? false)
                {
                    <li>Speakers</li>
                    <ul>
                        <li>No account? <a asp-controller="Account" asp-action="Register" asp-route-id="speaker"><button class="btn btn-large">Signup as a speaker</button></a></li>
                        <li>Have an account? <a asp-controller="Account" asp-action="Login">Login</a></li>
                    </ul>

                }
                if (ViewBag.Event.AttendeeRegistrationOpen ?? false)
                {
                    <li>Attendees</li>
                    <ul>
                        <li>No account? <a asp-controller="Account" asp-action="Register" asp-route-id="attendee"><button class="btn btn-large">Signup as an attendee</button></a></li>
                        <li>Have an account? <a asp-controller="Account" asp-action="Login">Login</a></li>
                    </ul>
                    <li>View agenda</li>
                    <ul>
                        <li><a asp-controller="Speakers" asp-action="Index">@ViewBag.Speakers Speakers</a></li>
                        <li><a asp-controller="Sessions" asp-action="Index">@ViewBag.Sessions Sessions</a></li>
                        @*<li><a asp-controller="Sessions" asp-action="Agenda">Tracks &amp; Timeslots</a></li>*@
                        <li>@ViewBag.Attendees Attendees</li>
                    </ul>
                }
            }
        </ol>
        <h4>Featured Sponsor</h4>
        <h5>@ViewBag.Sponsor.SponsorLevel</h5>
        <a href="@ViewBag.Sponsor.Website" target="_blank">
            <img style="width:250px" src="@ViewBag.Sponsor.AvatarURL" alt="@ViewBag.Sponsor.CompanyName" />
        </a>
        <p>&nbsp;</p>
        <p>
            Orlando Codecamp 2016 had 65 speakers, 75 talks and around 600 attendees. <a target="_blank" href="https://storify.com/_s_hari/orlandocc/slideshow?utm_source=embed&utm_medium=publisher&utm_campaign=embed-header-slideshow">
                Check out the #OrlandoCC 2016 story.
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <p>&nbsp;</p>
        <h4>Announcements</h4>
        <ul>
            @foreach (var announcement in ViewBag.Announcements)
            {
                <li>@Html.Raw(announcement.Message)</li>
            }
        </ul>
        <p>
            <a href="https://itunes.apple.com/us/app/orlando-code-camp/id1217621863?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
        </p>
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.xradapp.orlandocodecamp" style="display:inline-block;overflow:hidden;background:url(/images/google-play-badge.png) no-repeat;width:129px;height:40px;background-size:contain;"></a>
        </p>
        <p>
            Keynote by <a href="http://orlandocodecamp.com/speakers/details/80">Jeffrey Fritz</a>, Sr. Program Manager, Microsoft at 8am in the auditorium
            <img src="https://en.gravatar.com/userimage/4216812/68bac45ae1b08700619bcd1a665d362a.jpg?size=250" />
        </p>
    </div>
    <div class="col-md-3">
        <a class="twitter-timeline" href="https://twitter.com/hashtag/orlandocc" data-chrome="nofooter noscrollbar" data-related="onetug" data-widget-id="403285393182687234" data-tweet-limit="5">#OrlandoCC Tweets</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
    </div>
</div>
